<% provide(:title, "| Redirecting") %>
<body onload=timedCount()>
<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <div class="page-header center">
        <h1>Redirecting <small> You are heading to <span id="seconds">shorten</span> site.</small></h1>
      </div>
    </div>
  </div>
  
  <div class="row"> 
    <div class="col-md-12 center">
      <% if !@redirection.blank? %>
      <%= link_to "Open the shorten site now", @redirection, class: "btn btn-lg btn-warning", :target => "_blank" %>
      <% end %>
    </div>
  </div>
  
  <script>
    var c=5;
    $(signup).hide();
    function timedCount(){
    	$("#seconds").html(c);
    	c=c-1;
    	if(c==-1){
    	  $(signup).show();
    	  return;
    	}
    	setTimeout("timedCount()",1000);
    }
  </script>
  
</div>