<div class="width-full">
  <h1 class="text-center">Sign in to your account</h1>
  <%= render "form" %>
  <div class="text-center color-text-secondary">
    Don't have an account? <%= link_to "Sign up", new_user_path %>
  </div>
</div>
