<main class="d-flex flex-justify-center py-6">
  <div class="width-full">
    <h1 class="text-center">Create an account</h1>
    <%= render "form" %>
    <div class="text-center color-text-secondary">
      Already have an account? <%= link_to "Sign in", new_session_path %>
    </div>
  </div>
</main>
