<form class="d-flex flex-items-center flex-justify-between mt-2" data-toggle-target="toggleable" hidden>
  <input type="text" class="form-control width-full">
  <div class="d-flex flex-items-center ml-3">
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn-link ml-2" data-action="toggle#toggle">Cancel</button>
  </div>
</form>
