<div class="Box Box--condensed">
  <div class="Box-header">
    <h4 class="Box-title"><%= stat_title %></h4>
  </div>
  <ul>
    <% if stat_hash.count.zero? %>
      <li class="Box-row">No data</li>
    <% else %>
      <% stat_hash.each do |name, visit_count| %>
        <li class="Box-row d-flex flex-justify-between">
          <span><%= name %></span>
          <span><%= visit_count %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
