<%= render "shared/blankslate",
  title: "You do not seem to have any web links.",
  description: "Web links help you shorten your regular links and can be useful for minimizing word count on certain websites, such as Twitter." do
%>
  <details class="details-reset details-overlay details-overlay-dark">
    <summary class="btn btn-primary my-3" aria-haspopup="dialog">Create my first web link</summary>
    <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast color-text-primary text-left">
      <div class="Box-header">
        <h3 class="Box-title">Create a shortened link</h3>
      </div>
      <div class="Box-body">
        <%= render "app/web_links/create_form", id: "new_web_link_2" %>
      </div>
    </details-dialog>
  </details>
<% end %>
