.sidebar {
  height: calc(100vh - 64px);
  background-color: var(--color-bg-canvas-inset);
  position: fixed;
  left: 0;
  max-width: 448px;
  width: 100%;
  z-index: 10;
  transform: translateX(-200%);
  transition: all 150ms ease-in-out;

  @include breakpoint(lg) {
    position: static;
    display: block;
    transform: translateX(0);
  }

  &.active {
    transform: translateX(0);
  }
}

.sidebar-nav > * + * {
  border-top: 1px solid var(--color-border-tertiary);
}

.sidebar-item:hover {
  background-color: var(--color-bg-canvas);
}

details-dialog {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin: 10vh auto;
  z-index: 999;
  width: 90vw;

  @include breakpoint(sm) {
    width: 448px;
  }
}
